#mypic {
  float: right;
}
h1 {
  font-size: 18pt;
}
header {
  position: fixed;
  top: 1px;
  width: 100%;
  background: #20e050;
}
nav {
  height: 500px;
  width: 10%;
  background: #e05020;
}
p #first {
  margin-top: 300px;
}
main {
  width: 90%;
  float: right;
}
