#mypic {
  float: right;
}
hi {
  font-size:18pt;
}
header {
  position: fixed;
  height: 50px;
  top: 0px;
  left: -3px;
  width: 120%;
  background: #30d060;
}
#head {
  text-align:center;
  line-height:30px;
  width:100%;
  font-size:18px;
}
aside {
  height: 500px;
  width: 10%;
  background: #cf2f9f;
  margin-top: 55px;
}
p #first {
  margin-top: 180px;
}
main {
  width: 90%;
  float: right;
  height: 500px;
  margin-top: 0px;
  background-color:#e0e0e0;
}
section{
  background-color:#e0e0e0;
}
