h1 {
  color: blue;
  }
#mypic {
  float: right;
}
header {
  position: fixed;
  width: 100%;
  background: blue;
}
nav {
  position:fixed;
  width: 100%;
  background: green;
}
#space {
  width: 100%;
  height: 50px;
}
