body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right:0px;
  margin-left: 0px;
  background-color: #88ff88;
}
section {
  margin-left: 10px;
}
#title {
  background-color: #8888ff;
  text-align: center;
}
#ul {
  list-style-type: none;
  background-color: #ff8888;
}
li {
  font-size: 16pt;
}
.high {
  color: red;
}
.med {
  color: orange;
}
.low {
  color: green;
}
.strike {
  text-decoration: line-through;
}
