.high {
  background-color:#d82020;
  font-size:18pt;
  color:#27dfdf;
  }
.med {
  background-color:#d88020;
  font-size:16pt;
  color:#277fdf;
  }
.low {
  background-color:#202020;
  font-size:14pt;
  color:#dfdfdf;
  }
