 ul#high > li {
  background-color:#d82020;
  font-size:18pt;
  color:#f0f0f0;
  }
ul#med > li {
  background-color:#d88020;
  font-size:16pt;
  color:#f0f0f0;
  }
ul#low > li {
  background-color:#909090;
  font-size:14pt;
  color: #101010;
  }
ul#done > li {
  background-color:#101010;
  color: cyan;
}
section {
 border: 2px;
 border-color: #000000;
}
h3 {
 font-size: 22pt;
}
